/* Import Google Fonts: Spectral (400, 800) and Fira Code (500) */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Spectral:wght@400;800&display=swap');

/* Brand colours
    primary colour
    color: hsl(220, 91%, 34%);
    color: hsla(220, 91%, 34%, 0.3);

    secondary colour
    color: hsl(359, 100%, 76%);

    text colour: 
    color: hsl(0, 0%, 13%);
*/

:root {
    font-size: 62.5%; /* root = 10px for easier rem math */
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spectral', serif;
    font-weight: 400;
    color: hsl(0, 0%, 13%);
    font-size: 2rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    header,
    .callout,
    .links,
    .credits,
    footer,
    .timeline {
        max-width: 80%;
        margin: 0 auto;
    }
}

/* Typography */

h1,
.h1,
h2,
h3 {
    font-family: 'Spectral', serif;
    font-weight: 800;
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin-bottom: 3rem;
}

h1, .h1 {
    font-size: 5.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

p {
    letter-spacing: -1px;
}

.dropcap {
    float: left;
    font-size: 6.8rem;
    line-height: 5.5rem;
    padding: 0.4rem 0.5rem 0 0.3rem;
    font-weight: 800;
}

.bold {
    font-weight: 800;
    letter-spacing: 0;
}

.byline,
.button,
cite {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
}

.solo-icon {
    margin-top: 4rem;
    zoom: 1.5;
}

.external-link-icon {
    zoom: 0.7;
    position: relative;
    left: 5px;
}

a {
    color: hsl(0, 0%, 13%);
    text-decoration: none;
}

a:hover,
a:active {
    color: hsl(220, 91%, 34%);
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(220, 91%, 34%);
    color: hsl(100, 100%, 100%);
    padding: 1.5rem 2.5rem;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 13%);
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
    transition: all .3s ease;
    cursor: pointer;
}

.button i {
    padding-left: .5rem;
}

.button:hover,
.button:active {
    background: hsl(0, 0%, 13%);
    color: hsl(100, 100%, 100%);
    filter: drop-shadow(0 0 0 hsl(0, 0%, 13%));
}

/* Header */

.header__background {
    background: linear-gradient(hsla(220, 91%, 34%, 0.1), hsla(220, 91%, 34%, 0.5)),
                url('../images/home__hero.jpg') center / cover no-repeat;
}

.timeline-header__background {
    background: linear-gradient(hsla(220, 91%, 34%, 0.1), hsla(220, 91%, 34%, 0.5)),
                url('../images/timeline__hero.jpg') center / cover no-repeat;
}

.about-header__background {
    background: linear-gradient(hsla(220, 91%, 34%, 0.1), hsla(220, 91%, 34%, 0.5)),
                url('../images/about__hero.jpg') center / cover no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
}

#logo {
    font-size: 3rem;
    margin: 2rem 2rem;
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.nav__list-item {
    list-style-type: none;
}

.nav__list-item-link {
    color: hsl(0, 0%, 13%);
}

.nav__list-item-link--active {
    color: hsl(220, 91%, 34%);
    border-bottom: 1px solid hsl(220, 91%, 34%);
}

.nav__list a:hover,
.nav__list a:active {
    border-bottom: 1px solid hsl(220, 91%, 34%);
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        margin-top: 4rem;
    }

    .nav {
        flex-grow: 1;
        max-width: 40%;
        margin-top: 4rem;
    }

    .nav__list {
        justify-content: space-around;
    }
}

/* Hero section */

.hero {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 2rem 2rem;
    color: hsl(100, 100%, 100%);
    align-items: center;
    text-align: center;
}

@media (min-width: 768px) {
    .hero {
        text-align: left;
        align-items: flex-start;
        padding: 10rem 2rem;
    }
}

/* Main content section */

.main,
.about {
    max-width: 80%;
    margin: 0 auto;
    padding: 6rem 2rem 4rem;
}

.main__content,
.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__content-image {
    background: hsl(359, 100%, 76%);
    display: flex;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 13%);
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
    margin-bottom: 4rem;
    justify-self: center;
}

.main__content-image img {
    filter: grayscale(100%) contrast(150%);
    opacity: 0.5;
    width: 100%;
}

.main__content div:nth-child(4) {
    display: none;
}

@media (min-width: 768px) {
    .main__content-image {
        max-width: 350px;
    }
    
    .main__content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
    }

    .main__content-text {
        grid-column: 1/2;
        grid-row-start: span 5;
        padding-right: 8rem;
    }

    .main__content div:nth-child(2) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .main__content div:nth-child(3) {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

/* CTA section */

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

/* Callout section */

.callout {
    padding: 6rem 2rem;
}

.callout__background {
    background: linear-gradient(hsla(220, 91%, 34%, 0.1), hsla(220, 91%, 34%, 0.5)),
                url('../images/home__callout.jpg') center / cover no-repeat;
}

.callout__content {
    background:hsl(100, 100%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 13%);
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
    max-width: 450px;
    padding: 4rem 3rem 6rem 3rem;
}

.callout__content-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0.2rem;
}

/* Links section */

.links {
    padding: 6rem 2rem 2rem 2rem;
}

.links__content {
    display: flex;
    flex-direction: column;
}

.links__col {
    margin-bottom: 4rem;
}

.links__list {
    list-style-type: none;
}

.links__list-item > a {
    color: hsl(220, 91%, 34%);
}

.links__list-item > a:hover {
    background-color: hsl(220, 91%, 34%);
    color:hsl(100, 100%, 100%);
}

@media (min-width: 768px) {
    .links__content {
        flex-direction: row;
    }

    .links__col {
        min-width: 50%;
    }
}

/* Credits section */

.credits__background {
    background: hsl(220, 91%, 34%);
    color: hsl(100, 100%, 100%);
}

.credits {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.credits .links__list-item {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.7;
}

.credits .links__list-item a,
footer a {
    color:hsl(100, 100%, 100%);
    text-decoration: underline;
}

.credits .links__list-item a:hover,
.credits .links__list-item a:active,
footer a:hover,
footer a:active {
    background-color:hsl(100, 100%, 100%);
    color:hsl(220, 91%, 34%);
    text-decoration: underline;
}

.credits img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .credits {
        flex-direction: row;
        justify-content: space-between;
    }

    .credits img {
        margin-top: 1rem;
    }
}

/* Footer */

.footer__background {
    background: hsl(220, 91%, 34%);
    color: hsl(100, 100%, 100%);
    line-height: 1.7;
}

footer {
    padding: 3rem 2rem 3rem 2rem;
}

footer i {
    zoom: 1.1;
    position: relative;
    top: 2px;
    right: 1px;
}

/* Timeline */

.timeline {
    display: flex;
    flex-direction: column;
}

.timeline__card {
    background:hsl(100, 100%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 13%);
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
    margin: 2rem 1rem 4rem 1rem;
}

.timeline__card-year {
    border-bottom: 1px solid hsl(0, 0%, 13%);
    text-align: center;
    padding: 1rem;
}

.timeline__card-year p {
    margin: 0;
}

.timeline__card-text {
    padding: 2rem 3rem 0 3rem;
}

.timeline__card-image {
    background: hsl(100, 100%, 100%);
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 13%);
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
    max-width: 200px;
    display: flex;
    flex-direction: column;
    float: right;
    margin: -4rem 2rem 2rem 0;
}

.timeline__card-image p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.timeline__card-image img {
    width: 100%;
    filter: grayscale(100%);
    border-top: 1px solid hsl(0, 0%, 13%);
}

@media (min-width: 768px) {
    .timeline__card-content {
        display: grid;
        grid-template-columns: 2fr auto;
        align-items: end;
    }

    .timeline__card-text {
        margin: 2rem 0 3rem 0;
        align-self: start;
    }

    .timeline__card-image {
        margin: 1rem;
    }
}

/* About page */
.about__content-text img {
    max-width: 100%;
}

.about__content-quote {
    font-size: 2.2rem;
    background: hsl(220, 91%, 34%);
    color:hsl(100, 100%, 100%);
    padding: 2rem;
    border: 1px solid hsl(0, 0%, 13%);
    border-radius: 5px;
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
}

@media (min-width: 768px) {
    .about__content-text img {
        max-width: 400px;
    }
}