/* Import Google Fonts: Spectral (400, 800) and Fira Code (500) */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Spectral:wght@400;800&display=swap');

/* Brand colours
    primary colour
    color: hsl(220, 91%, 34%);
    color: hsla(220, 91%, 34%, 0.3);

    secondary colour
    color: hsl(359, 100%, 76%);

    text colour: 
    color: hsl(0, 0%, 13%);
*/

:root {
    font-size: 62.5%; /* root = 10px for easier rem math */
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spectral', serif;
    font-weight: 400;
    color: hsl(0, 0%, 13%);
    font-size: 2rem;
    line-height: 1.5;
}

/* Typography */

h1,
.h1,
h2,
h3 {
    font-family: 'Spectral', serif;
    font-weight: 800;
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin-bottom: 3rem;
}

h1, .h1 {
    font-size: 5.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

p {
    letter-spacing: -1px;
}

.byline {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
}

a {
    color: hsl(0, 0%, 13%);
    text-decoration: none;
}

a:hover,
a:active {
    color: hsl(220, 91%, 34%);
    border-bottom: 1px solid hsl(220, 91%, 34%);;
}

.dropcap {
    float: left;
    font-size: 6.8rem;
    line-height: 5.5rem;
    padding: 0.4rem 0.5rem 0 0.3rem;
    font-weight: 800;
}

.bold {
    font-weight: 800;
    letter-spacing: 0;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(hsla(220, 91%, 34%, 0.1), hsla(220, 91%, 34%, 0.5)),
                url('../images/home__hero.jpg') center / cover no-repeat;
    padding-top: 4rem;
}

#logo {
    font-size: 3rem;
    margin: 1rem 2rem;
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.nav__list-item {
    list-style-type: none;
}

.nav__list-item-link {
    color: hsl(0, 0%, 13%);
}

.nav__list-item-link--active {
    color: hsl(220, 91%, 34%);
    border-bottom: 1px solid hsl(220, 91%, 34%);
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.6rem 2rem 1.6rem;
    color: hsl(100, 100%, 100%);
    text-align: center;
}

/* Main content */

.main {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
}

.main__content-image {
    background: hsl(359, 100%, 76%);
    display: flex;
    width: 100%;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 13%);
    filter: drop-shadow(3px 3px 0px hsl(0, 0%, 13%));
    margin-bottom: 4rem;
}

.main__content-image img {
    filter: grayscale(100%) contrast(150%);
    opacity: 0.5;
    width: 100%;
}